{% load static %}
<link rel="stylesheet" href="{% static 'game/inspektor.css' %}">
<div id="insp_popup">
  <div id="insp_popup_background" style=""></div>
    <div id="insp_title" style="">
      TITEL
    </div>
    <div id="insp_text" style="">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
    </div>
    <div id="insp_img" style=""></div>
    <input type="text" id="insp_text_input" name="" value="">
    <input type="button" id="insp_button_input" name="" value="">
    <div id="insp_close" class="popup_close"></div>
</div>
